@media screen and (min-width: 900px) and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
  .App {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }
  .App-top {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Rating {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }
  .Rating-star {
    margin: 0.5rem;
  }
  .Heading {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Review {
    width: 30%;
    text-align: left;
  }
  .Rating {
    width: 100%;
  }
  .App-top-right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .Heading p {
    width: 60%;
    font-size: 1.5rem;
  }
  .Heading h1 {
    text-align: center;
  }
  .content-1,
  .content-2,
  .content-3,
  .content-4,
  .content-5,
  .content-6 {
    margin: 1rem;
  }
}
